$sidenav-bg-color: #143e6f;

.flexc {
  display: flex;
  justify-content: center;
  align-items: center;
}
// BEM approach for styling:
// side nav
.nav {
  position: fixed;
  top: 0;
  width: 56px;
  background-color: $sidenav-bg-color;
  min-height: 100vh;
  @media screen and (max-width: 768px) {
    position: fixed;
    flex-direction: row;
    display: flex;
    width: 100vw;
    min-height: 56px;
    overflow-y: auto;
    bottom: 0;
    top: auto;
    z-index: 20;
  }
  &__split {
    padding: 10px;
    &-item {
      background-color: #1070ca;
      height: 3px;
      border-radius: 5px;
      width: 100%;
    }
  }
  &__item {
    @extend .flexc;
    width: 56px;
    height: 56px;
    flex-shrink: 0;
    .bx {
      font-size: 22px;
      color: white;
    }
  }
  &__item-content {
    width: 36px;
    height: 36px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover,
    &--active {
      background-color: #195396;
    }
    &--active {
      border-radius: 100%;
    }

    @extend .flexc;
  }
}
